body{
  background-color:#EAF6F6;
   text-align: center;
  }
hr{
    background-color:white;
    border-style: dotted none none;
    border-width: 5px;
    border-color: grey;
    height:0;
    width:5%;

  }
  .center {
   margin-left:auto;
   margin-right:auto;
 }
 ul{
   text-align: center;
  list-style:none;
 }
 table{
   border: 1px solid black;
 }
h1{
  color: #79C8d2;
}
h3{
  color: #fff9b0;
  background-color: #ffab73;
}
